@import 'variables';

// Estilos para el footer
.footer, footer {
  grid-area: footer; // Define la ubicación en el grid
  color: $color-footer-text; // Texto blanco
  background-color: $color-footer-bg; /* // Fondo oscuro */
  text-align: center; // Centra el contenido
  padding: 20px; // Espaciado interno
  margin-top: 40px; // Margen superior
  border-top: 5px solid $color-footer-border; // Borde superior amarillo
}
// Estilos para los enlaces del footer
footer a {
  color: $color-footer-link; // Color amarillo para los enlaces
  text-decoration: none; // Elimina el subrayado
  transition: color 0.3s ease; // Transición suave

  &:hover {
    color: $color-footer-link-hover; // Color amarillo oscuro al hacer hover
  }
}
