/* header */
$color-primary: #005baa; /* azul boca */
$color-secondary: #ffcd00; /* amarillo boca */
$color-white: #fff;
$color-text: #000;

/* body */
$color-background: #e7f84bd0;
$color-text: #333;
$font-roboto: 'Roboto', sans-serif;

/* main */
$color-box-shadow: rgba(0, 0, 0, 0.1);
$color-border-bottom: #ffcd00;
$font-bebas-neue: 'Bebas Neue', sans-serif;

/* footer */
$color-footer-bg: #333;
$color-footer-text: #fff;
$color-footer-border: #ffcd00;
$color-footer-link: #ffcd00;
$color-footer-link-hover: #e6b800;